html, body {
  height: 100%;
}

body {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  background-color: rgba(0,0,0,0.46);
}

a {
  color: #fff;
}

html {
  background: url(../../assets/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding-top: 100px;
}

.content {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 40px 15px;
  text-align: center;
}

.container-fluid {
  max-width: 700px;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
}

.icon-bar {
  background-color: white;
}

.navbar .nav>li>a:hover, .nav>li>a:focus, .nav>li.active>a {
  color: #18bc9c;
  background-color: transparent;
}

blockquote {
  /* margin: 20px; */
  font-family: "Noto Serif",serif;
  font-style: italic;
  font-size: 20px!important;
}

img {
  max-width: 100%;
  height: auto;
}

/* code-block typing effect */

.code-block {
  font-family: Inconsolata, Monaco, 'Andale Mono', monospace;
  font-size: 16px;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

.code-block>p {
  margin: 0;
}

.css-typing {
  text-align: left!important;
  width: 0;
  white-space:nowrap;
  overflow:hidden;
}

.typeone {
  animation: type 1.5s steps(50, end);
  animation-delay: 1s;
}
.typetwo {
  animation: type 1.5s steps(50, end);
  animation-delay: 3s;
}
.typethree {
  animation: type 1.5s steps(50, end);
  animation-delay: 5s;
}
.typefour {
  animation: type 1.5s steps(50, end);
  animation-delay: 7s;
}

@keyframes type{
  from { width: 0; }
  to {width: 100%;}
}

@-webkit-keyframes type{
  from { width: 0; }
  to {width: 100%;}
}
